<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Biblioteca Online</title>
</head>
<body>
    <header>
        <a href="/">
          <div class="logo">
            <img class="icon-logo" src="logo_estante.png" />
            <h1>Estante Virtual</h1>
          </div>
        </a>
        <div class="menu">
          <a href="#" onclick="scrollToAcervo()" class="ul">Ver galeria</a>
          <a href="" class="ul" >Meu perfil</a>
          
        </div>
    </header>