<div class="footer">
    <div>
        <h1>Idealizado por:</h1>
        <p>Mayara Duarte</p>
        <p>Ygor Souza</p>
        <p>Taissa Severo</p>
        <p>Ritielen Silva</p>
    </div>
    <div>
        <img class="icon-logo" src="logo_estante.png" />
        <h1>Estante Virtual</h1>
    </div>
    <div> 
       <h1>Escola Nova Horizonte</h1> 
       <p>Rua da Educação, 45, Centro, Bagé - RS</p>
       <div class="social-media">
        <div class="icons-media">
        <a href="https://facebook.com"><img  width="30px;" height="30px;" src="facebook.png" alt="Facebook"></a>
    </div>
    <div class="icons-media">
        <a href="https://web.whatsaoo.com"><img width="30px;" height="30px;" src="whatsapp.png" alt="Whatsapp"></a>
        </div>
    </div>
    </div>
</div>
</body>
</html>
<script src="main.js"></script>


