<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Biblioteca Online</title>
</head>
<body>
    <header>
        <a href="/">
          <div class="logo">
            <img class="icon-logo" src="logo_estante.png" />
            <h1>Estante Virtual</h1>
          </div>
        </a>
        <div class="menu">
          <a href="#" onclick="scrollToAcervo()" class="ul">P치gina inicial</a>
          <a href="" class="ul" >Hist칩rico de agendamentos</a>
          <a href="" class="ul" >Cadastro de livros</a>
          <a href="" class="ul" >Visualizar livros</a>
          <a href="" class="ul" >Agendamentos</a>
          <a href="" class="ul" >Usu치rios</a>
          <a href="" class="ul" >Relat칩rios</a>
        </div>
    </header>