<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Biblioteca Online</title>
</head>
<body>
    <header>
        <a href="/">
          <div class="logo">
            <img class="icon-logo" src="img/logo_estante.png" />
            <h1>Estante Virtual</h1>
          </div>
        </a>
        <div class="menu">
          <a href="/" onclick="scrollToAcervo()" class="ul">Página inicial</a>
          <a href="/agendamentos" class="ul" >Histórico de agendamentos</a>
          <a href="/cadastrolivros" class="ul" >Cadastro de livros</a>
          <a href="/livros" class="ul" >Visualizar livros</a>
          <a href="/criaragendamento" class="ul" >Agendamentos</a>
          <a href="/usuarios" class="ul" >Usuários</a>
          <a href="/perfiladm" class="ul" >Meu perfil</a>

        </div>
    </header>