<%-include('./cabecalho.ejs')%>
<div class="principal-historico">
  <div class="row center">
    <ul class="menu-options">
      <li class="active" data-category="all">Todos</li>
      <li data-category="em-emprestimo">Em empréstimo</li>
      <li data-category="entregue">Entregues</li>
      <li data-category="pendente">Pendentes</li>
      <li data-category="liberar">Para liberar</li>
    </ul>
    <div class="relatorio-livros">
      <button class="relatorio">Emitir Relatório</button>
    </div>
  </div>

  <div class="historico-container">
    <div class="historico-item hist" data-category="liberar">
      <div class="img-historico">
        <img src="img/eassimqueacaba.jpeg" />
      </div>
      <div class="column-info">
        <p>
          <strong>Usuário:</strong>
          <a href="/perfil/id-user" class="usuario-link">Ana Maria</a>
        </p>
        <p>
          <strong>Título do Livro:</strong>
          <a href="/detalhes/id-livro" class="usuario-link"
            >É assim que acaba</a
          >
        </p>
        <p><strong>Data de pedido:</strong> 01/10/2024</p>
        <p>
          <strong>Status:</strong>
          <span class="status liberar"> À Liberar</span>
        </p>
        <button id="liberar" style="background-color: #90ee90">
          Liberar empréstimo
        </button>
        <div id="date" style="display: none">
          <form class="date-form" action="/cadastrar-agendamento" method="post">
            <p><strong>Data de entrega:</strong></p>
            <input type="date" id="date-entrega" name="date-entrega" required />
            <button type="submit">Concluir</button>
          </form>
        </div>
      </div>
    </div>
    <div class="historico-item hist" data-category="entregue">
      <div class="img-historico">
        <img src="img/livro5.jpeg" />
      </div>
      <div class="column-info-info">
        <p>
          <strong>Usuário:</strong>
          <a href="/perfil/id-user" class="usuario-link">Mayara Duarte</a>
        </p>
        <p>
          <strong>Título do Livro:</strong>
          <a href="/detalhes/id-livro" class="usuario-link"
            >Desbloqueie o poder da sua mente</a
          >
        </p>
        <p><strong>Data de Início:</strong> 01/10/2024</p>
        <p><strong>Data de Entrega Prevista:</strong> 15/10/2024</p>
        <p><strong>Data de Devolução Real:</strong> 14/10/2024</p>
        <p>
          <strong>Status:</strong> <span class="status entregue">Entregue</span>
        </p>
        <p><strong>Observações:</strong> Livro devolvido em boas condições.</p>
        <button style="background-color: #007bff">Editar</button>
      </div>
    </div>
    <div class="historico-item hist" data-category="pendente">
      <div class="img-historico">
        <img src="img/livro6.jpeg" />
      </div>
      <div class="column-info">
        <p>
          <strong>Usuário:</strong>
          <a href="/perfil/id-user" class="usuario-link">Taissa Severo</a>
        </p>
        <p>
          <strong>Título do Livro:</strong>
          <a href="/detalhes/id-livro" class="usuario-link"
            >Orgulho e preconceito</a
          >
        </p>
        <p><strong>Data de Início:</strong> 05/10/2024</p>
        <p><strong>Data de Entrega Prevista:</strong> 15/10/2024</p>
        <p><strong>Data de Devolução Real:</strong></p>
        <p>
          <strong>Status:</strong> <span class="status pendente">Pendente</span>
        </p>
        <p><strong>Observações:</strong></p>
        <button style="background-color: #007bff">Editar</button>
      </div>
    </div>
    <div class="historico-item hist" data-category="em-emprestimo">
      <div class="img-historico">
        <img src="img/livro7.jpeg" />
      </div>
      <div class="column-info">
        <p>
          <strong>Usuário:</strong>
          <a href="/perfil/id-user" class="usuario-link">Lucas Correa</a>
        </p>
        <p>
          <strong>Título do Livro:</strong>
          <a href="/detalhes/id-livro" class="usuario-link"
            >Entendendo algoritmos</a
          >
        </p>
        <p><strong>Data de Início:</strong> 05/10/2024</p>
        <p><strong>Data de Entrega Prevista:</strong> 31/10/2024</p>
        <p><strong>Data de Devolução Real:</strong></p>
        <p>
          <strong>Status:</strong>
          <span class="status pendente">Em empréstimo</span>
        </p>
        <p><strong>Observações:</strong></p>
        <button style="background-color: #007bff">Editar</button>
      </div>
    </div>
  </div>
</div>
<script src="js/historico.js"></script>
<%-include('../user/rodape.ejs')%>
