<%-include('./cabecalho.ejs')%>
<div class="main-perfil">
  <div class="column">
    <div class="perfil adm">
      <div class="foto">
        <img src="user.webp" alt="Foto do Usuário" id="profile-picture" />
        <input
          type="file"
          name="foto"
          id="foto"
          accept="image/*"
          style="display: none"
        />
      </div>
      <div class="info">
        <h2>Mayara Duarte</h2>
        <p>Cargo: <span>Bibliotecário</span></p>
        <p>Turno: <span>Manhã e Tarde</span></p>
        <p>Data de nascimento: <span>01/01/1990</span></p>
        <p>Telefone: <span>(11) 99999-9999</span></p>
        <p>E-mail: <span>mayaragoncalvesduarte@gmail.com</span></p>
      </div>
      <form
        id="perfil-form"
        action="/salvarperfil"
        method="POST"
        enctype="multipart/form-data"
        style="display: none"
      >
        <p>Cargo: <input type="text" name="cargo" id="cargo" /></p>
        <p>Turno: <input type="text" name="turno" id="turno" /></p>
        <p>
          Data de nascimento:
          <input type="text" name="nascimento" id="nascimento" />
        </p>
        <p>Telefone: <input type="text" name="telefone" id="telefone" /></p>
        <p>E-mail:<br /><input type="email" name="email" id="email" /></p>
        <button type="submit">Salvar</button>
      </form>
      <div class="edit-icon">
        <a href="#" id="edit-button"><img src="edit-2.png" alt="Editar" /></a>
      </div>
    </div>
    <div class="logout">
      <button id="logout-button">Logout</button>
    </div>
  </div>
</div>
<script src="form-perfil.js"></script>
<%-include('../user/rodape.ejs')%>
