<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css"/>

    <title>Login - Estante Virtual</title>
</head>
<body>
    
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Criar conta</h1>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
            <input type="text" placeholder="Turma"/>
			<input type="password" placeholder="Senha" />
			<input type="confirm-password" placeholder="Confirme a senha" />

            
			<button>Criar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Fazer login</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Senha" />
			<a href="#">Esqueceu a senha?</a>
			<button>Logar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bem vindo a Estante Virtual!</h1>
				<p>Consulte livros da biblioteca da sua escola e faça agendamentos!</p>
				<button class="ghost" id="signIn">Já tenho conta</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bem vindo a Estante Virtual!</h1>
				<p>Consulte livros da biblioteca da sua escola e faça agendamentos!</p>
				<button class="ghost" id="signUp">Ainda não possui uma conta?</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>

<script src="js/main-login.js"></script>
